/* screen - pcu95u26032u35215u20316u25104 */

.pcu95u26032u35215u20316u25104 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 768px;
  overflow: hidden;
  width: 1366px;
}

.pcu95u26032u35215u20316u25104 .hdr {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 1370px;
}

.pcu95u26032u35215u20316u25104 .overlap-group3 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 56px;
  justify-content: flex-end;
  min-width: 1366px;
  padding: 7px 22px;
}

.pcu95u26032u35215u20316u25104 .text-90 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  min-width: 108px;
}

.pcu95u26032u35215u20316u25104 .group-33 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 24px;
  height: 32px;
  margin-bottom: 2px;
  margin-left: 617px;
  min-width: 427px;
}

.pcu95u26032u35215u20316u25104 .text_label {
  min-width: 153px;
}

.pcu95u26032u35215u20316u25104 .text_label-1 {
  min-width: 132px;
}

.pcu95u26032u35215u20316u25104 .text_label-2 {
  min-width: 88px;
}

.pcu95u26032u35215u20316u25104 .vector {
  height: 18px;
  margin-left: 18px;
  margin-top: 8.0px;
  width: 18px;
}

.pcu95u26032u35215u20316u25104 .ico_cart {
  margin-left: 14px;
  margin-top: 6.69px;
}

.pcu95u26032u35215u20316u25104 .text-89 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 14px;
  margin-top: 8.0px;
  min-height: 14px;
  min-width: 50px;
  text-align: right;
}

.pcu95u26032u35215u20316u25104 .ico_user {
  height: 24px;
  margin-left: 10px;
  margin-top: 4.0px;
  width: 24px;
}

.pcu95u26032u35215u20316u25104 .flex-row {
  align-items: flex-start;
  display: flex;
  min-width: 1366px;
}

.pcu95u26032u35215u20316u25104 .side {
  align-items: center;
  padding: 32px 4px;
  width: 200px;
}

.pcu95u26032u35215u20316u25104 .overlap-group2 {
  align-self: flex-end;
  height: 159px;
  margin-top: 3px;
  position: relative;
  width: 184px;
}

.pcu95u26032u35215u20316u25104 .x1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 159px;
  width: 184px;
}

.pcu95u26032u35215u20316u25104 .overlap-group-1 {
  align-items: flex-end;
  border-radius: 30px;
  height: 40px;
  min-width: 176px;
  padding: 7px 47px;
}

.pcu95u26032u35215u20316u25104 .text-83 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  min-width: 75px;
}

.pcu95u26032u35215u20316u25104 .flex-row-1 {
  gap: 9px;
  height: 22px;
  margin-left: 16px;
  margin-top: 13px;
  min-width: 106px;
}

.pcu95u26032u35215u20316u25104 .ico_group {
  height: 15px;
  margin-top: 1.21px;
  width: 22px;
}

.pcu95u26032u35215u20316u25104 .text-82 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
}

.pcu95u26032u35215u20316u25104 .flex-row-2 {
  gap: 11px;
  height: 23px;
  margin-left: 18px;
  margin-top: 19px;
  min-width: 104px;
}

.pcu95u26032u35215u20316u25104 .ico_mail {
  height: 18px;
  width: 18px;
}

.pcu95u26032u35215u20316u25104 .text-85 {
  align-self: flex-end;
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  min-width: 75px;
}

.pcu95u26032u35215u20316u25104 .flex-row-3 {
  align-self: center;
  gap: 10px;
  height: 23px;
  margin-right: 6.0px;
  margin-top: 19px;
  min-width: 144px;
}

.pcu95u26032u35215u20316u25104 .text-84 {
  align-self: flex-end;
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
  min-width: 114px;
}

.pcu95u26032u35215u20316u25104 .ico_pen {
  height: 18px;
  left: 19px;
  position: absolute;
  top: 10px;
  width: 18px;
}

.pcu95u26032u35215u20316u25104 .x4 {
  height: 4px;
  margin-top: 29px;
  width: 130px;
}

.pcu95u26032u35215u20316u25104 .x3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 46.0px;
  margin-top: 32px;
  min-height: 71px;
  width: 90px;
}

.pcu95u26032u35215u20316u25104 .text-8 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 17px;
}

.pcu95u26032u35215u20316u25104 .index02_img_02 {
  height: 17px;
  margin-right: 2.0px;
  margin-top: 333px;
  object-fit: cover;
  width: 108px;
}

.pcu95u26032u35215u20316u25104 .overlap-group5 {
  align-items: flex-start;
  background-color: var(--pampas);
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 51px;
  min-height: 712px;
  padding: 65px 0;
  width: 766px;
}

.pcu95u26032u35215u20316u25104 .ttl {
  align-items: flex-start;
  display: flex;
  gap: 20px;
  height: 32px;
  margin-left: 79px;
  min-width: 186px;
}

.pcu95u26032u35215u20316u25104 .text-81 {
  letter-spacing: 0;
  line-height: 32px;
  min-width: 80px;
  white-space: nowrap;
}

.pcu95u26032u35215u20316u25104 .dummy-dummy {
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.pcu95u26032u35215u20316u25104 .letter_detail {
  align-self: center;
  height: 361px;
  width: 632px;
}

.pcu95u26032u35215u20316u25104 .overlap-group4 {
  height: 712px;
  position: relative;
  width: 400px;
}

.pcu95u26032u35215u20316u25104 .side-1 {
  align-items: flex-end;
  cursor: pointer;
  left: 0;
  padding: 74px 63px;
  position: absolute;
  top: 0;
  width: 400px;
}

.pcu95u26032u35215u20316u25104 .text-7 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 16px;
  width: 180px;
}

.pcu95u26032u35215u20316u25104 .overlap-group {
  align-items: flex-start;
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--pink-swan);
  border-radius: 8px;
  display: flex;
  height: 32px;
  min-width: 270px;
  padding: 5.9px 14px;
}

.pcu95u26032u35215u20316u25104 .dummy-text {
  letter-spacing: 0;
  line-height: normal;
  min-height: 17px;
  width: 163px;
}

.pcu95u26032u35215u20316u25104 .textbox {
  margin-top: 16px;
}

.pcu95u26032u35215u20316u25104 .textarea {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 16px;
  min-height: 228px;
  width: 272px;
}

.pcu95u26032u35215u20316u25104 .overlap-group-2 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--pink-swan);
  border-radius: 8px;
  height: 202px;
  min-width: 270px;
  padding: 5.9px 14px;
}

.pcu95u26032u35215u20316u25104 .dummy-textdummy-text-d {
  letter-spacing: 0;
  line-height: normal;
  min-height: 170px;
  width: 237px;
}

.pcu95u26032u35215u20316u25104 .overlap-group1 {
  align-self: center;
  height: 48px;
  margin-top: 30px;
  position: relative;
  width: 180px;
}

.pcu95u26032u35215u20316u25104 .x3-1 {
  background-color: var(--bright-red);
  border-radius: 110px;
  height: 44px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 180px;
}

.pcu95u26032u35215u20316u25104 .x1-1 {
  background-color: var(--monza);
  border-radius: 110px;
  box-shadow: 0px 3px 3px #00000029;
  height: 44px;
  width: 180px;
}

.pcu95u26032u35215u20316u25104 .text-80 {
  left: 62px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14px;
}

.pcu95u26032u35215u20316u25104 .arrow-right-solid {
  height: 14px;
  left: 144px;
  position: absolute;
  top: 15px;
  width: 16px;
}

.pcu95u26032u35215u20316u25104 .x63 {
  align-items: flex-start;
  display: flex;
  height: 33px;
  left: 39px;
  min-width: 254px;
  position: absolute;
  top: 21px;
}

.pcu95u26032u35215u20316u25104 .arrow-left-solid {
  align-self: center;
  cursor: pointer;
  height: 14px;
  margin-top: 1.28px;
  width: 16px;
}

.pcu95u26032u35215u20316u25104 .text-91 {
  letter-spacing: 0;
  line-height: 32px;
  margin-left: 8px;
  min-width: 128px;
  white-space: nowrap;
}

.pcu95u26032u35215u20316u25104 .dummy-dummy-1 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 32px;
  margin-left: 16px;
  min-width: 82px;
  white-space: nowrap;
}

.pcu95u26032u35215u20316u25104 .flex-row-4 {
  align-items: flex-start;
  display: flex;
}

.pcu95u26032u35215u20316u25104 .overlap-group-3 {
  background-color: var(--gallery);
  display: flex;
}

.pcu95u26032u35215u20316u25104 .side-2 {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 712px;
}

.pcu95u26032u35215u20316u25104 .text_label-3 {
  letter-spacing: 0;
  line-height: 32px;
  text-align: right;
  white-space: nowrap;
}

.pcu95u26032u35215u20316u25104 .textbox-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 58px;
  width: 272px;
}

.pcu95u26032u35215u20316u25104 .x1-2 {
  left: 0;
  position: absolute;
  top: 0;
}
