/* screen - pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 */

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 {
  background-color: var(--white);
  height: 1320px;
  overflow: hidden;
  position: relative;
  width: 1366px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .overlap-group9 {
  align-items: flex-start;
  background-color: var(--pampas);
  border-radius: 40px 40px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 37px;
  left: 200px;
  min-height: 1264px;
  padding: 65px 0;
  position: absolute;
  top: 56px;
  width: 926px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .ttl {
  align-items: flex-start;
  display: flex;
  gap: 12px;
  height: 32px;
  margin-left: 67px;
  min-width: 338px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text_label {
  letter-spacing: 0;
  line-height: 32px;
  min-width: 240px;
  white-space: nowrap;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .dummy-dummy {
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .marketplace {
  align-items: flex-start;
  align-self: center;
  cursor: pointer;
  display: flex;
  min-width: 792px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .overlap-group5 {
  height: 1011px;
  position: relative;
  width: 796px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .x13 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1011px;
  position: absolute;
  top: 0;
  width: 795px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .dummy-dummy-container-1 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  height: 34px;
  min-width: 220px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .dummy-dummy-5 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 32px;
  min-width: 154px;
  white-space: nowrap;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .group-25 {
  height: 299px;
  margin-top: 20px;
  min-width: 791px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 299px;
  width: 188px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .nft01 {
  height: 180px;
  object-fit: cover;
  width: 180px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .group {
  flex-direction: column;
  min-height: 119px;
  width: 188px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .dummy-dummy-1 {
  letter-spacing: 0;
  line-height: 32px;
  width: 180px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .dummy-dummy-2 {
  letter-spacing: 0;
  line-height: 20px;
  min-height: 40px;
  width: 180px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .dummy-dummy-container {
  height: 47px;
  position: relative;
  width: 180px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .dummy-dummy-3 {
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 20px;
  white-space: nowrap;
  width: 180px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .dummy-dummy-4 {
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 180px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .flex-col-1 {
  margin-left: 16px;
  min-height: 299px;
  width: 188px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .nft02 {
  height: 180px;
  object-fit: cover;
  width: 180px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .flex-col-2 {
  margin-left: 15px;
  min-height: 299px;
  width: 188px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .nft03 {
  height: 180px;
  object-fit: cover;
  width: 180px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .nft04 {
  height: 180px;
  object-fit: cover;
  width: 180px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .group-2 {
  height: 299px;
  margin-top: 30px;
  min-width: 791px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .nft05 {
  height: 180px;
  object-fit: cover;
  width: 180px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .nft06 {
  height: 180px;
  object-fit: cover;
  width: 180px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .nft07 {
  height: 180px;
  object-fit: cover;
  width: 180px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .nft08 {
  height: 180px;
  object-fit: cover;
  width: 180px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .nft09 {
  height: 180px;
  object-fit: cover;
  width: 180px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .nft10 {
  height: 180px;
  object-fit: cover;
  width: 180px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .nft11 {
  height: 180px;
  object-fit: cover;
  width: 180px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .nft12 {
  height: 180px;
  object-fit: cover;
  width: 180px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .pulldown {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 32px;
  left: 560px;
  min-width: 236px;
  position: absolute;
  top: 1px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text-177 {
  min-height: 16px;
  text-align: right;
  width: 62px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .overlap-group4 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--pink-swan);
  border-radius: 100px;
  height: 32px;
  position: relative;
  width: 160px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text-176 {
  left: 14px;
  position: absolute;
  top: 6px;
  width: 143px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .arrow-right-solid {
  height: 12px;
  left: 137px;
  position: absolute;
  top: 11px;
  width: 10px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .hdr {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 56px;
  left: 0;
  min-width: 1368px;
  position: absolute;
  top: 0;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .overlap-group6 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 56px;
  justify-content: flex-end;
  min-width: 1366px;
  padding: 9px 22px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .group-33 {
  align-self: flex-end;
  gap: 24px;
  height: 32px;
  min-width: 427px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text_label-1 {
  letter-spacing: 0;
  line-height: 32px;
  min-width: 153px;
  text-align: right;
  white-space: nowrap;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text_label-2 {
  letter-spacing: 0;
  line-height: 32px;
  min-width: 132px;
  text-align: right;
  text-decoration: underline;
  white-space: nowrap;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text_label-3 {
  letter-spacing: 0;
  line-height: 32px;
  min-width: 88px;
  text-align: right;
  white-space: nowrap;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .vector {
  height: 18px;
  margin-left: 18px;
  margin-top: 8.0px;
  width: 18px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .ico_cart {
  margin-left: 14px;
  margin-top: 6.69px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text-178 {
  margin-left: 14px;
  margin-top: 8.0px;
  min-height: 14px;
  min-width: 50px;
  text-align: right;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .ico_user {
  height: 24px;
  margin-left: 10px;
  margin-top: 4.0px;
  width: 24px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .sort {
  align-items: flex-start;
  display: flex;
  height: 712px;
  left: 1126px;
  min-width: 244px;
  position: absolute;
  top: 56px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .overlap-group7 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 712px;
  padding: 24px 28px;
  width: 240px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text_label-container {
  align-items: center;
  align-self: flex-start;
  display: flex;
  gap: 20px;
  height: 16px;
  min-width: 182px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text_label-4 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 16px;
  width: 81px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text_label-5 {
  color: var(--fuscous-gray);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-xs);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 14px;
  text-align: right;
  text-decoration: underline;
  width: 81px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .overlap-group-2 {
  border-radius: 10px;
  height: 187px;
  margin-top: 24px;
  min-width: 180px;
  padding: 13px 3px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .flex-col-3 {
  gap: 10px;
  min-height: 146px;
  width: 146px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .dummy {
  letter-spacing: 0;
  line-height: normal;
  min-height: 16px;
  width: 142px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .flex-row {
  align-items: center;
  display: flex;
  gap: 7px;
  height: 120px;
  margin-left: 1px;
  min-width: 145px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .flex-col-4 {
  gap: 10px;
  min-height: 110px;
  width: 14px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .overlap-group {
  align-items: flex-end;
  background-color: var(--monza);
  display: flex;
  height: 14px;
  min-width: 14px;
  padding: 2px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .cio_chk {
  height: 9px;
  width: 10px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .rectangle {
  background-color: var(--alto);
  height: 14px;
  width: 14px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .dummy-text-dummy-text-du {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 120px;
  width: 124px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .x1 {
  height: 87px;
  margin-top: 8px;
  width: 7px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .overlap-group-1 {
  border-radius: 10px;
  height: 187px;
  margin-top: 16px;
  min-width: 180px;
  padding: 13px 3px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .x1-1 {
  height: 87px;
  margin-top: 8px;
  width: 7px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .x1-2 {
  height: 87px;
  margin-top: 8px;
  width: 7px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .side {
  align-items: flex-start;
  display: flex;
  height: 768px;
  left: 0;
  min-width: 202px;
  position: fixed;
  top: 0;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .overlap-group8 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 768px;
  padding: 23px 4px;
  width: 200px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text-186 {
  align-self: flex-start;
  margin-left: 20px;
  min-height: 26px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .overlap-group1 {
  align-self: flex-end;
  height: 158px;
  margin-top: 52px;
  position: relative;
  width: 184px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .x1-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 157px;
  position: absolute;
  top: 1px;
  width: 184px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text-180 {
  align-self: center;
  cursor: pointer;
  margin-right: 15.0px;
  min-height: 22px;
  min-width: 75px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .flex-row-1 {
  gap: 9px;
  height: 22px;
  margin-left: 16px;
  margin-top: 20px;
  min-width: 106px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .ico_group {
  height: 15px;
  margin-top: 1.21px;
  width: 22px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text-179 {
  cursor: pointer;
  min-height: 22px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .flex-row-2 {
  gap: 11px;
  height: 23px;
  margin-left: 18px;
  margin-top: 19px;
  min-width: 104px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .ico_mail {
  height: 18px;
  width: 18px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text-182 {
  align-self: flex-end;
  cursor: pointer;
  min-height: 22px;
  min-width: 75px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .overlap-group-3 {
  border-radius: 30px;
  height: 40px;
  margin-top: 11px;
  min-width: 176px;
  padding: 8.5px 15px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text-181 {
  align-self: center;
  min-height: 22px;
  min-width: 114px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .ico_pen {
  height: 18px;
  left: 19px;
  position: absolute;
  top: 0;
  width: 18px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .x4 {
  height: 4px;
  margin-top: 20px;
  width: 130px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .x3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 46.0px;
  margin-top: 32px;
  min-height: 71px;
  width: 90px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text-183 {
  min-height: 17px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text-18 {
  cursor: pointer;
  min-height: 17px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .index02_img_02 {
  height: 17px;
  margin-right: 2.0px;
  margin-top: 333px;
  object-fit: cover;
  width: 108px;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .flex-col-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .flex-row-3 {
  align-items: flex-start;
  display: flex;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .group-1 {
  align-items: flex-start;
  display: flex;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .overlap-group-4 {
  align-items: flex-start;
  background-color: var(--gallery);
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.pcu95u20491u20154u38291u12510u12540u12465u12483u12488u12501u12442u12524u12452u12473u12488u12483u12501u12442 .text {
  letter-spacing: 0;
  line-height: normal;
}
