/* screen - pcu95u20250u21729u30331u37682u95u23436u20102 */

.pcu95u20250u21729u30331u37682u95u23436u20102 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 1366px;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .overlap-group5 {
  align-items: flex-start;
  background-color: var(--pampas);
  display: flex;
  gap: 321px;
  height: 768px;
  min-width: 1366px;
  padding: 22px 24px;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .text-42 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 26px;
  min-width: 108px;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .overlap-group1 {
  align-items: center;
  align-self: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--gallery);
  box-shadow: 0px 8px 8px #00000066;
  display: flex;
  flex-direction: column;
  min-height: 530px;
  padding: 30px 0;
  width: 460px;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .text-container {
  height: 74px;
  position: relative;
  width: 388px;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .text-40 {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 46px;
  width: 388px;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .text-41 {
  left: 0;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .overlap-group4 {
  align-items: flex-end;
  background-image: url(../img/bnr1.png);
  background-size: 100% 100%;
  display: flex;
  height: 120px;
  margin-top: 27px;
  min-width: 392px;
  padding: 33px 42px;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .text-39 {
  letter-spacing: 0;
  line-height: 48px;
  min-width: 126px;
  white-space: nowrap;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .overlap-group3 {
  height: 120px;
  margin-top: 8px;
  position: relative;
  width: 388px;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .bnr2 {
  cursor: pointer;
  height: 120px;
  left: 0;
  position: absolute;
  top: 0;
  width: 388px;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .text-38 {
  left: 40px;
  letter-spacing: 0;
  line-height: 48px;
  position: absolute;
  top: 37px;
  white-space: nowrap;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .btn {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-top: 21px;
  min-width: 182px;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .overlap-group {
  height: 40px;
  position: relative;
  width: 180px;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .x3 {
  background-color: var(--bright-red);
  border-radius: 110px;
  height: 36px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 180px;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .x1 {
  background-color: var(--monza);
  border-radius: 110px;
  box-shadow: 0px 3px 3px #00000029;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 180px;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .top {
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 11px;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .arrow-right-solid {
  height: 11px;
  left: 150px;
  position: absolute;
  top: 14px;
  width: 13px;
}

.pcu95u20250u21729u30331u37682u95u23436u20102 .index02_img_02 {
  height: 17px;
  margin-right: 2.0px;
  margin-top: 37px;
  mix-blend-mode: multiply;
  object-fit: cover;
  width: 108px;
}
