/* screen - spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 */

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1795px;
  overflow: hidden;
  width: 390px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .overlap-group10 {
  height: 1741px;
  margin-top: 56px;
  position: relative;
  width: 410px;
  z-index: 1;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .bg {
  background-color: var(--white);
  height: 1741px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .bg-1 {
  background-color: var(--pampas);
  height: 1280px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .confirm {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 300px;
  left: 20px;
  min-width: 368px;
  position: absolute;
  top: 1325px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .overlap-group1 {
  align-items: flex-start;
  background-color: var(--gallery);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  padding: 29px 16px;
  width: 350px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .overlap-group2 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  min-height: 127px;
  padding: 8px 19px;
  width: 317px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 143px;
  height: 77px;
  margin-right: 1px;
  margin-top: 1px;
  min-width: 275px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-text-dummy-text-du {
  height: 25px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-text-dummy-text-du-1 {
  height: 16px;
  letter-spacing: 0;
  line-height: 24px;
  margin-bottom: -8px;
  margin-top: 1px;
  white-space: nowrap;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-text-dummy-text-du-2 {
  height: 32px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 3px;
  width: 84px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .flex-col {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 77px;
  width: 48px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-container {
  height: 45px;
  position: relative;
  width: 48px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy {
  height: 25px;
  left: 18px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
  width: 30px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-1 {
  height: 22px;
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: right;
  top: 23px;
  white-space: nowrap;
  width: 48px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-2 {
  letter-spacing: 0;
  line-height: 32px;
  min-width: 40px;
  text-align: right;
  white-space: nowrap;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .line-1 {
  align-self: flex-start;
  margin-top: 2px;
  width: 278px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-container {
  align-items: flex-start;
  display: flex;
  gap: 78px;
  margin-right: 1px;
  margin-top: 8px;
  min-width: 275px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-text-dummy-text-du-3 {
  height: 22px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  width: 84px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-3 {
  height: 22px;
  letter-spacing: 0;
  line-height: 32px;
  text-align: right;
  white-space: nowrap;
  width: 113px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-text-dummy-text-du-4 {
  align-self: flex-end;
  height: 32px;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: 1px;
  margin-top: 13px;
  width: 313px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .overlap-group {
  align-self: center;
  height: 40px;
  margin-left: 6.0px;
  margin-top: 22px;
  position: relative;
  width: 220px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .x3 {
  background-color: var(--bright-red);
  border-radius: 110px;
  height: 36px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 220px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .x1 {
  background-color: var(--monza);
  border-radius: 110px;
  box-shadow: 0px 3px 3px #00000029;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 220px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .top {
  left: 65px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .menu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 340px;
  min-height: 16px;
  position: absolute;
  top: 44px;
  width: 30px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .rectangle {
  background-color: var(--mine-shaft);
  border-radius: 2px;
  height: 2px;
  width: 30px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .rectangle-10 {
  background-color: var(--white);
  border-radius: 12px;
  cursor: pointer;
  height: 600px;
  left: 20px;
  position: absolute;
  top: 615px;
  width: 350px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .group-51 {
  left: 44px;
  min-height: 70px;
  position: absolute;
  top: 640px;
  width: 304px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .text_label {
  letter-spacing: 0;
  line-height: 32px;
  width: 300px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-4 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 4px;
  width: 300px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .line-1-1 {
  height: 1px;
  margin-top: 9px;
  object-fit: cover;
  width: 300px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .group-55 {
  left: 44px;
  min-height: 95px;
  position: absolute;
  top: 1082px;
  width: 304px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .line {
  margin-top: -1px;
  width: 300px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .text_label-1 {
  letter-spacing: 0;
  line-height: 32px;
  margin-top: 11px;
  width: 300px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-5 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 4px;
  min-height: 48px;
  width: 300px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .group-53 {
  gap: 4px;
  left: 44px;
  min-height: 86px;
  position: absolute;
  top: 831px;
  width: 304px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .overlap-group4 {
  align-items: flex-start;
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 26px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  min-width: 300px;
  padding: 0 1px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .overlap-group-1 {
  align-items: flex-end;
  align-self: center;
  background-color: var(--monza);
  display: flex;
  height: 14px;
  margin-top: 2.0px;
  min-width: 14px;
  padding: 2px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-6 {
  height: 50px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  width: 248px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .group-54 {
  left: 44px;
  min-height: 137px;
  position: absolute;
  top: 929px;
  width: 366px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .overlap-group5 {
  height: 51px;
  margin-top: 4px;
  position: relative;
  width: 360px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-7 {
  height: 51px;
  left: 38px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  width: 322px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .cio_chk-1 {
  left: 15px;
  position: absolute;
  top: 22px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .overlap-group-2 {
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 302px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .box {
  background-color: var(--romance);
  border: 1px solid;
  border-color: var(--pink-swan);
  border-radius: 100px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .text_label-2 {
  color: var(--fuscous-gray);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  height: 50px;
  left: 83px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 219px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .arrow-right-solid {
  height: 12px;
  left: 261px;
  position: absolute;
  top: 20px;
  width: 10px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .amex {
  height: 43px;
  left: 17px;
  position: absolute;
  top: 4px;
  width: 59px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-8 {
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 10px;
  min-height: 40px;
  width: 300px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .span1 {
  text-decoration: underline;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .group-52 {
  left: 44px;
  min-height: 100px;
  position: absolute;
  top: 720px;
  width: 308px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  gap: 6px;
  margin-top: 4px;
  min-width: 300px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .overlap-group7 {
  align-items: flex-start;
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--pink-swan);
  border-radius: 10px;
  display: flex;
  height: 20px;
  margin-top: 4px;
  min-width: 20px;
  padding: 4px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-container-1 {
  height: 56px;
  position: relative;
  width: 274px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-9 {
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
  width: 274px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-text-dummy-text-du-5 {
  height: 32px;
  left: 156px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 24px;
  width: 84px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-10 {
  left: 231px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: right;
  top: 23px;
  white-space: nowrap;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .line-3 {
  margin-top: 7px;
  width: 300px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .detail {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 15px;
  left: 20px;
  min-height: 460px;
  padding: 20px 18px;
  position: absolute;
  top: 135px;
  width: 350px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .group-25 {
  min-height: 305px;
  width: 308px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .img {
  height: 180px;
  object-fit: cover;
  width: 300px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .text_label-3 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 11px;
  min-height: 48px;
  width: 296px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-container-1 {
  height: 56px;
  margin-top: 10px;
  position: relative;
  width: 200px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-11 {
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 0;
  width: 200px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-12 {
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 24px;
  width: 55px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-13 {
  left: 74px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  text-align: right;
  top: 24px;
  width: 67px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .group-49 {
  margin-right: 2px;
  min-height: 91px;
  width: 306px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .overlap-group1-1 {
  align-self: flex-end;
  height: 18px;
  margin-right: 6px;
  margin-top: 10px;
  position: relative;
  width: 77px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .vector {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-14 {
  color: var(--dove-gray);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 13px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: right;
  top: 0;
  width: 77px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-container-2 {
  align-items: flex-start;
  background-color: var(--romance);
  border: 1px solid;
  border-color: var(--alto);
  display: flex;
  gap: 108px;
  margin-top: 17px;
  min-width: 300px;
  padding: 0 12.5px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-text-dummy-text-du-6 {
  height: 46px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  width: 74px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-15 {
  color: var(--mine-shaft);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  height: 46px;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1px;
  text-align: right;
  width: 90px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .ttl {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 20px;
  min-height: 64px;
  position: absolute;
  top: 34px;
  width: 354px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .text_label-4 {
  letter-spacing: 0;
  line-height: 32px;
  margin-left: 4px;
  white-space: nowrap;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .dummy-dummy-16 {
  letter-spacing: 0;
  line-height: 32px;
  width: 350px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .hdr {
  align-items: flex-start;
  display: flex;
  height: 56px;
  left: 0;
  min-width: 392px;
  position: fixed;
  top: 0;
  z-index: 3;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .overlap-group9 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 56px;
  justify-content: flex-end;
  min-width: 390px;
  padding: 0 14px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .text-191 {
  margin-top: 5.0px;
  min-height: 23px;
  min-width: 96px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .index02_img_02 {
  height: 15px;
  margin-bottom: 0;
  margin-left: 18px;
  object-fit: cover;
  width: 100px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .vector-1 {
  height: 25px;
  margin-left: 30px;
  margin-top: 1.0px;
  width: 25px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .ico_cart {
  height: 24px;
  margin-bottom: 2.0px;
  margin-left: 14px;
  width: 28px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .ico_user {
  height: 30px;
  margin-left: 18px;
  width: 30px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .menu-1 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--gallery);
  border-radius: 100px;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  left: 12px;
  min-width: 366px;
  padding: 0 20px;
  position: fixed;
  top: 776px;
  z-index: 2;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .x75 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 3.0px;
  min-height: 43px;
  width: 26px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .ico_pen {
  height: 20px;
  margin-left: 3.13px;
  width: 20px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .text-1 {
  min-height: 17px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .x76 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 66px;
  margin-top: 6.0px;
  min-height: 40px;
  width: 27px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .ico_group {
  height: 18px;
  width: 25px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .text-18 {
  margin-left: 0.87px;
  min-height: 17px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .x77 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 64px;
  margin-top: 3.0px;
  min-height: 43px;
  width: 26px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .ico_mail {
  height: 20px;
  margin-left: 0.13px;
  width: 20px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .overlap-group8 {
  align-items: flex-end;
  background-color: var(--gallery);
  border-radius: 100px;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  margin-left: 47px;
  min-width: 56px;
  padding: 4px 12.0px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .x78 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-height: 43px;
  width: 27px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .ico_cart-1 {
  height: 20px;
  width: 23px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .bg-2 {
  border-radius: 40px 0px 0px 0px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .cio_chk-2 {
  height: 9px;
  width: 10px;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .line-2 {
  height: 1px;
  object-fit: cover;
}

.spu95u36092u20837u30011u38754u95u27770u28168u36984u25246 .text {
  letter-spacing: 0;
  line-height: normal;
}
