/* screen - spu95nftu35443u32048 */

.spu95nftu35443u32048 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 3056px;
  overflow: hidden;
  width: 390px;
}

.spu95nftu35443u32048 .overlap-group17 {
  height: 3000px;
  margin-top: 56px;
  position: relative;
  width: 944px;
  z-index: 1;
}

.spu95nftu35443u32048 .bg {
  background-color: var(--pampas);
  border-radius: 40px 0px 0px 0px;
  height: 3000px;
}

.spu95nftu35443u32048 .menu {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 340px;
  min-height: 16px;
  position: absolute;
  top: 44px;
  width: 30px;
}

.spu95nftu35443u32048 .rectangle {
  background-color: var(--mine-shaft);
  border-radius: 2px;
  height: 2px;
  width: 30px;
}

.spu95nftu35443u32048 .pack {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 480px;
  left: 0;
  min-width: 944px;
  position: absolute;
  top: 2052px;
}

.spu95nftu35443u32048 .overlap-group7 {
  height: 480px;
  position: relative;
  width: 944px;
}

.spu95nftu35443u32048 .bg-1 {
  background-color: var(--romance);
  height: 480px;
}

.spu95nftu35443u32048 .text_label-1 {
  left: 24px;
  position: absolute;
  top: 55px;
  white-space: nowrap;
}

.spu95nftu35443u32048 .group-20 {
  align-items: center;
  display: flex;
  gap: 6px;
  height: 32px;
  left: 244px;
  min-width: 128px;
  position: absolute;
  top: 55px;
}

.spu95nftu35443u32048 .arrow-right-solid {
  height: 10px;
  margin-top: 0.29px;
  width: 12px;
}

.spu95nftu35443u32048 .dummy-dummy-7 {
  letter-spacing: 0;
  line-height: 32px;
  min-width: 108px;
  text-align: right;
  white-space: nowrap;
}

.spu95nftu35443u32048 .x14 {
  align-items: flex-start;
  display: flex;
  gap: 3849px;
  height: 310px;
  left: 20px;
  min-width: 924px;
  position: absolute;
  top: 104px;
}

.spu95nftu35443u32048 .overlap-group6 {
  height: 310px;
  position: relative;
  width: 934px;
}

.spu95nftu35443u32048 .rectangle-13 {
  background-color: var(--gallery);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 12px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 924px;
}

.spu95nftu35443u32048 .group-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2px;
  left: 0;
  min-height: 310px;
  position: absolute;
  top: 0;
  width: 934px;
}

.spu95nftu35443u32048 .dummy-dummy-container-1 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-right: 36.0px;
  min-width: 850px;
}

.spu95nftu35443u32048 .dummy-dummy-8 {
  height: 50px;
  letter-spacing: 0;
  line-height: 20px;
  width: 120px;
}

.spu95nftu35443u32048 .dummy-dummy-9 {
  height: 50px;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 10px;
  width: 180px;
}

.spu95nftu35443u32048 .dummy-dummy {
  height: 50px;
  letter-spacing: 0;
  line-height: 20px;
  width: 180px;
}

.spu95nftu35443u32048 .overlap-group {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--alto);
  border-radius: 12px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 924px;
  padding: 8px 0;
}

.spu95nftu35443u32048 .dummy-dummy-1 {
  letter-spacing: 0;
  line-height: 32px;
  width: 120px;
}

.spu95nftu35443u32048 .dummy-dummy-2 {
  letter-spacing: 0;
  line-height: 32px;
  margin-left: 10px;
  width: 180px;
}

.spu95nftu35443u32048 .dummy-dummy-3 {
  letter-spacing: 0;
  line-height: 32px;
  text-decoration: underline;
  width: 180px;
}

.spu95nftu35443u32048 .dummy-dummy-container {
  align-self: center;
  height: 32px;
  margin-left: 1px;
  position: relative;
  width: 230px;
}

.spu95nftu35443u32048 .dummy-dummy-4 {
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 0;
  width: 180px;
}

.spu95nftu35443u32048 .dummy-dummy-5 {
  left: 175px;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 0;
  width: 55px;
}

.spu95nftu35443u32048 .arrow-right-solid-1 {
  height: 10px;
  margin-top: -301px;
  width: 12px;
}

.spu95nftu35443u32048 .group-34 {
  align-items: center;
  display: flex;
  gap: 6px;
  height: 32px;
  left: 106px;
  min-width: 180px;
  position: absolute;
  top: 431px;
}

.spu95nftu35443u32048 .vector {
  height: 16px;
  margin-top: 2.0px;
  width: 16px;
}

.spu95nftu35443u32048 .dummy-dummy-10 {
  letter-spacing: 0;
  line-height: 32px;
  min-width: 156px;
  white-space: nowrap;
}

.spu95nftu35443u32048 .shop {
  min-height: 242px;
  top: 788px;
  width: 352px;
}

.spu95nftu35443u32048 .text_label {
  margin-left: 4px;
  white-space: nowrap;
}

.spu95nftu35443u32048 .overlap-group8 {
  align-items: center;
  background-color: var(--white);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  padding: 12px;
  width: 350px;
}

.spu95nftu35443u32048 .dummy-dummy-11 {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 32px;
  min-width: 322px;
  white-space: nowrap;
}

.spu95nftu35443u32048 .group-43 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 4.0px;
  margin-top: 12px;
  min-height: 79px;
  width: 314px;
}

.spu95nftu35443u32048 .overlap-group-1 {
  height: 36px;
  position: relative;
  width: 310px;
}

.spu95nftu35443u32048 .dummy-dummy-12 {
  color: var(--mine-shaft);
  font-family: var(--font-family-zen_maru_gothic);
  font-size: 24px;
  font-weight: 700;
  left: 69px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 74px;
}

.spu95nftu35443u32048 .rectangle-10 {
  background-color: var(--alto);
  border-radius: 3px;
  height: 6px;
  left: 0;
  position: absolute;
  top: 30px;
  width: 310px;
}

.spu95nftu35443u32048 .dummy-dummy-13 {
  letter-spacing: 0;
  line-height: 22px;
  min-height: 37px;
  width: 74px;
}

.spu95nftu35443u32048 .group-34-1 {
  gap: 4px;
  margin-left: 3.0px;
  margin-top: 17px;
  min-width: 113px;
}

.spu95nftu35443u32048 .dummy-dummy-14 {
  letter-spacing: 0;
  line-height: 32px;
  min-width: 91px;
  text-decoration: underline;
  white-space: nowrap;
}

.spu95nftu35443u32048 .shop-1 {
  min-height: 540px;
  top: 1060px;
  width: 356px;
}

.spu95nftu35443u32048 .flex-container {
  background-color: var(--white);
  border-radius: 12px;
  flex-direction: column;
  gap: 27px;
  min-height: 498px;
  padding: 17px 0;
  width: 350px;
}

.spu95nftu35443u32048 .flex-container-472939 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 368px;
  position: relative;
  width: 310px;
}

.spu95nftu35443u32048 .text {
  align-self: stretch;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
}

.spu95nftu35443u32048 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  gap: 7px;
  margin-right: 3.0px;
  min-width: 307px;
}

.spu95nftu35443u32048 .overlap-group1 {
  align-items: flex-start;
  background-color: var(--romance);
  border: 1px solid;
  border-color: var(--alto);
  display: flex;
  gap: 15px;
  height: 47px;
  min-width: 150px;
  padding: 6px 16px;
}

.spu95nftu35443u32048 .vector-1 {
  align-self: center;
  height: 18px;
  margin-bottom: 1.0px;
  width: 16px;
}

.spu95nftu35443u32048 .dummy-dummy-15 {
  letter-spacing: 0;
  line-height: 16px;
  min-height: 32px;
  width: 77px;
}

.spu95nftu35443u32048 .overlap-group-2 {
  align-items: flex-start;
  background-color: var(--romance);
  border: 1px solid;
  border-color: var(--alto);
  display: flex;
  gap: 16px;
  height: 47px;
  min-width: 150px;
  padding: 13px 17px;
}

.spu95nftu35443u32048 .vector-2 {
  height: 19px;
  width: 14px;
}

.spu95nftu35443u32048 .dummy-dummy-16 {
  letter-spacing: 0;
  line-height: 16px;
  width: 77px;
}

.spu95nftu35443u32048 .shop-2 {
  min-height: 382px;
  top: 1630px;
  width: 354px;
}

.spu95nftu35443u32048 .dummy-dummy-container-2 {
  align-items: center;
  background-color: var(--white);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 340px;
  padding: 17px 0;
  width: 350px;
}

.spu95nftu35443u32048 .dummy-dummy-6 {
  letter-spacing: 0;
  line-height: 24px;
  width: 310px;
}

.spu95nftu35443u32048 .dummy-dummy-17 {
  letter-spacing: 0;
  line-height: 24px;
  min-height: 264px;
  width: 310px;
}

.spu95nftu35443u32048 .shop-3 {
  min-height: 232px;
  top: 2572px;
  width: 358px;
}

.spu95nftu35443u32048 .dummy-dummy-container-3 {
  align-items: center;
  background-color: var(--white);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 90px;
  padding: 17px 0;
  width: 350px;
}

.spu95nftu35443u32048 .dummy-dummy-container-4 {
  align-items: flex-end;
  background-color: var(--white);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 90px;
  padding: 17px 16px;
  width: 350px;
}

.spu95nftu35443u32048 .dummy-dummy-18 {
  align-self: center;
  letter-spacing: 0;
  line-height: 24px;
  width: 310px;
}

.spu95nftu35443u32048 .dummy-dummy-19 {
  letter-spacing: 0;
  line-height: 24px;
  width: 314px;
}

.spu95nftu35443u32048 .dummy-dummy-20 {
  left: 266px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: right;
  top: 966px;
  width: 84px;
}

.spu95nftu35443u32048 .main {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  left: 20px;
  min-height: 634px;
  position: absolute;
  top: 124px;
  width: 354px;
}

.spu95nftu35443u32048 .group-41 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-right: 2.0px;
  min-height: 239px;
  width: 352px;
}

.spu95nftu35443u32048 .detail {
  height: 210px;
  object-fit: cover;
  width: 350px;
}

.spu95nftu35443u32048 .flex-row {
  gap: 8px;
  min-width: 65px;
}

.spu95nftu35443u32048 .vector-3 {
  height: 17px;
  margin-top: 1.0px;
  width: 20px;
}

.spu95nftu35443u32048 .dummy-dummy-21 {
  height: 22px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
  width: 37px;
}

.spu95nftu35443u32048 .group-40 {
  align-items: flex-start;
  display: flex;
  height: 33px;
  margin-top: 19px;
  min-width: 354px;
}

.spu95nftu35443u32048 .dummy-dummy-22 {
  letter-spacing: 0;
  line-height: 32px;
  margin-left: 12px;
  min-width: 82px;
  white-space: nowrap;
}

.spu95nftu35443u32048 .vector-4 {
  align-self: center;
  height: 16px;
  margin-bottom: 1.0px;
  margin-left: 165px;
  width: 19px;
}

.spu95nftu35443u32048 .dummy-dummy-23 {
  letter-spacing: 0;
  line-height: 32px;
  margin-left: 3px;
  min-width: 11px;
  text-align: right;
  white-space: nowrap;
}

.spu95nftu35443u32048 .vector-5 {
  align-self: center;
  height: 16px;
  margin-bottom: 1.0px;
  margin-left: 10px;
  width: 16px;
}

.spu95nftu35443u32048 .overlap-group13 {
  height: 93px;
  margin-right: 4.0px;
  margin-top: 3px;
  position: relative;
  width: 350px;
}

.spu95nftu35443u32048 .dummy-dummy-24 {
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 0;
  width: 350px;
}

.spu95nftu35443u32048 .text_label-2 {
  left: 0;
  position: absolute;
  top: 29px;
  width: 350px;
}

.spu95nftu35443u32048 .group-42 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 2.0px;
  margin-top: 9px;
  min-height: 113px;
  width: 356px;
}

.spu95nftu35443u32048 .overlap-group2 {
  height: 32px;
  margin-left: 1px;
  position: relative;
  width: 349px;
}

.spu95nftu35443u32048 .dummy-dummy-25 {
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 0;
  width: 349px;
}

.spu95nftu35443u32048 .vector-6 {
  height: 16px;
  left: 188px;
  position: absolute;
  top: 8px;
  width: 16px;
}

.spu95nftu35443u32048 .overlap-group1-1 {
  background-color: var(--white);
  border-radius: 12px;
  height: 73px;
  position: relative;
  width: 350px;
}

.spu95nftu35443u32048 .x4 {
  align-items: flex-start;
  display: flex;
  gap: 6px;
  height: 4px;
  left: 96px;
  min-width: 44px;
  position: absolute;
  top: 34px;
  transform: rotate(90.00deg);
}

.spu95nftu35443u32048 .dummy-dummy-26 {
  left: 22px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 12px;
  width: 148px;
}

.spu95nftu35443u32048 .dummy-dummy-27 {
  left: 150px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 12px;
  width: 148px;
}

.spu95nftu35443u32048 .overlap-group-3 {
  height: 40px;
  margin-right: 4.0px;
  margin-top: 41px;
  position: relative;
  width: 240px;
}

.spu95nftu35443u32048 .x3 {
  background-color: var(--bright-red);
  border-radius: 110px;
  height: 36px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 240px;
}

.spu95nftu35443u32048 .x1 {
  background-color: var(--monza);
  border-radius: 110px;
  box-shadow: 0px 3px 3px #00000029;
  height: 36px;
  left: 0;
  position: absolute;
  top: 0;
  width: 240px;
}

.spu95nftu35443u32048 .top {
  left: 68px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 9px;
}

.spu95nftu35443u32048 .group-34-2 {
  gap: 6px;
  margin-right: 1.0px;
  margin-top: 12px;
  min-width: 297px;
}

.spu95nftu35443u32048 .dummy-dummy-28 {
  letter-spacing: 0;
  line-height: 32px;
  min-width: 273px;
  white-space: nowrap;
}

.spu95nftu35443u32048 .overlap-group14 {
  height: 57px;
  left: 24px;
  position: absolute;
  top: 34px;
  width: 120px;
}

.spu95nftu35443u32048 .text_label-3 {
  left: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.spu95nftu35443u32048 .dummy-dummy-29 {
  left: 0;
  letter-spacing: 0;
  line-height: 32px;
  position: absolute;
  top: 25px;
  white-space: nowrap;
}

.spu95nftu35443u32048 .hdr {
  align-items: flex-start;
  display: flex;
  height: 56px;
  left: 0;
  min-width: 392px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.spu95nftu35443u32048 .overlap-group15 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 56px;
  justify-content: flex-end;
  min-width: 390px;
  padding: 0 14px;
}

.spu95nftu35443u32048 .text-279 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 5.0px;
  min-height: 23px;
  min-width: 96px;
}

.spu95nftu35443u32048 .index02_img_02 {
  height: 15px;
  margin-bottom: 0;
  margin-left: 18px;
  object-fit: cover;
  width: 100px;
}

.spu95nftu35443u32048 .vector-7 {
  height: 25px;
  margin-left: 30px;
  margin-top: 1.0px;
  width: 25px;
}

.spu95nftu35443u32048 .ico_cart {
  height: 24px;
  margin-bottom: 2.0px;
  margin-left: 14px;
  width: 28px;
}

.spu95nftu35443u32048 .ico_user {
  height: 30px;
  margin-left: 18px;
  width: 30px;
}

.spu95nftu35443u32048 .menu-1 {
  align-items: center;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--gallery);
  border-radius: 100px;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  left: 12px;
  min-width: 366px;
  padding: 0 20px;
  position: fixed;
  top: 776px;
  z-index: 3;
}

.spu95nftu35443u32048 .x75 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 3.0px;
  min-height: 43px;
  width: 26px;
}

.spu95nftu35443u32048 .ico_pen {
  height: 20px;
  margin-left: 3.13px;
  width: 20px;
}

.spu95nftu35443u32048 .text-28 {
  letter-spacing: 0;
  line-height: normal;
  min-height: 17px;
}

.spu95nftu35443u32048 .x76 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 66px;
  margin-top: 6.0px;
  min-height: 40px;
  width: 27px;
}

.spu95nftu35443u32048 .ico_group {
  height: 18px;
  width: 25px;
}

.spu95nftu35443u32048 .text-28-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 0.87px;
  min-height: 17px;
}

.spu95nftu35443u32048 .x77 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 64px;
  margin-top: 3.0px;
  min-height: 43px;
  width: 26px;
}

.spu95nftu35443u32048 .ico_mail {
  height: 20px;
  margin-left: 0.13px;
  width: 20px;
}

.spu95nftu35443u32048 .overlap-group16 {
  align-items: flex-end;
  background-color: var(--gallery);
  border-radius: 100px;
  display: flex;
  height: 56px;
  justify-content: flex-end;
  margin-left: 47px;
  min-width: 56px;
  padding: 4px 12.0px;
}

.spu95nftu35443u32048 .x78 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-height: 43px;
  width: 27px;
}

.spu95nftu35443u32048 .ico_cart-1 {
  height: 20px;
  width: 23px;
}

.spu95nftu35443u32048 .bg-2 {
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.spu95nftu35443u32048 .flex {
  align-items: center;
  display: flex;
}

.spu95nftu35443u32048 .group-34-3 {
  align-items: center;
  display: flex;
  height: 32px;
}

.spu95nftu35443u32048 .shop-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 20px;
  position: absolute;
}

.spu95nftu35443u32048 .text_label-4 {
  letter-spacing: 0;
  line-height: 32px;
}
